@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Song, hymn, and verse */
[epub|type~="z3998:hymn"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:hymn"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] div{
	margin: 1em 0;
}

[epub|type~="z3998:song"] header p{
	font-style: italic;
	text-align: center;
}

[epub|type~="z3998:song"] header + p{
	margin-top: 0;
	text-align: center;
}
/* end song, hymn and verse */

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	font-variant: small-caps;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* All epigraphs */
[epub|type~="epigraph"]{
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: italic;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

/* Ship's log entries */
[epub|type~="z3998:diary"] p{
	text-indent: 0;
}
/* End ship's log entries */

/* Chapter 9 telegrams */
.telegram{
	font-variant: all-small-caps;
}

.telegram i{
	font-style: normal;
}
/* End telegrams */

/* Chapter 10 lists */
ul{
	list-style: none;
}
/* end lists */

/* Italic text for french songs */
blockquote[xml|lang]{
	font-style: italic;
}
/* End italic text for french songs */

/* per line indentations */
p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i10{
	padding-left: 11em;
	text-indent: -1em;
}
/* End per line indentations */
